@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  /* background-image: url('../src/assets/images/arcade2.png');
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; */
  color: white;
  font-family:"Press Start 2P";
  margin: 0;
  padding: 0; 
background: rgb(117,38,180);
background: radial-gradient(circle, rgba(117,38,180,0.8381477591036415) 9%, rgba(0,0,0,1) 72%);

}

/* responsive behavior for very small screens  */
@media (max-width: 375px) {
  body {
    background-size: cover;
  }
}


@media (min-width: 376px) and (max-width: 575px) {
  body {
    background-size: cover;
  }
}


@media (min-width: 576px) and (max-width: 992px) {
  body {
    background-size: cover;
  }
}


@media (min-width: 993px) {
  body {
    background-size: cover;
    overflow-x: hidden;
  }
} 
