/* body {
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  
} */
.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.aracdeMachine{
  width: 50px; 
  /* height: auto; */
}

.navBar {
background: #672C7F;
display: flex;
justify-content: flex-end;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
padding: 2px;
margin-top: 20px;
align-items: center;
}

.log-out, .navlink {
  display: flex;
  gap: 455px;
}

.log-out{
  margin-right: 15px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  transition: color 0.3s ease;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;
}

.links a:hover {
  color: rgb(241, 146, 146);
}

@media (max-width: 320px) {
  .links a {
      font-size: 20px;
  }
}

/* responsive behavior for small screens  */
@media (min-width: 321px) and (max-width: 575px) {
  .links a {
      font-size: 28px;
  }
}

/* responsive behavior for medium sized screens (tablets)  */
@media (min-width: 576px) and (max-width: 992px) {
  .links a {
      font-size: 35px;
  }
}


