.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aracdeMachine {
  width: 50px;
}

.navBar {
  background-image: radial-gradient(circle, rgba(117, 38, 180, 0.8381477591036415) 9%, rgba(0, 0, 0, 1) 72%);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
  /* neon effect  */
  color: #fff;
  text-shadow:
    0 0 7px #f4cbe1,
    0 0 10px #f4cbe1,
    0 0 21px #f4cbe1,
    0 0 42px #FE7AB8,
    0 0 82px #FE7AB8,
    0 0 92px #FE7AB8,
    0 0 102px #FE7AB8,
    0 0 151px #FE7AB8;
}

.log-out,
.navlink {
  display: flex;
  gap: 550px;
  color: #fff;
  text-shadow:
    0 0 7px #f4cbe1,
    0 0 10px #f4cbe1,
    0 0 21px #f4cbe1,
    0 0 42px #FE7AB8,
    0 0 82px #FE7AB8,
    0 0 92px #FE7AB8,
    0 0 102px #FE7AB8,
    0 0 151px #FE7AB8;
}

.currentUser{
  margin-top: 5px;
}
.currentUser:hover{
  color: #7FA7FE;
}

.logOutBtn {
  /* background-color: #7FA7FE;
  color: white; */
  color: #FE7AB8;
  text-shadow:
    0 0 7px #f4cbe1,
    0 0 10px #f4cbe1,
    0 0 21px #f4cbe1,
    0 0 42px #FE7AB8,
    0 0 82px #FE7AB8,
    0 0 92px #FE7AB8,
    0 0 102px #FE7AB8,
    0 0 151px #FE7AB8;
}

.logOutBtn:hover{
  color: #fff;
  background-color: #FE7AB8;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  transition: color 0.3s ease;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.links a:hover {
  color: rgb(241, 146, 146);
}

@media (max-width: 320px) {
  .links {
    flex-shrink: 1;
    justify-content: center;
    gap: 10px; /* Adjusted gap for better spacing */
  }

  .links a {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .links {
    flex-shrink: 1;
    justify-content: center;
    gap: 10px; /* Adjusted gap for better spacing */
  }

  .links a {
    font-size: 28px;
  }
}

/* responsive behavior for small screens */
@media (min-width: 576px) {
  .links {
    justify-content: center;
    gap: 10px; /* Adjusted gap for better spacing */
  }

  .links a {
    font-size: 28px;
  }
}