/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap'); */


body  {
    /* background-color: black;  */
    color: white;
    font-family: 'Orbitron', sans-serif; 
     margin: 0;
    padding: 0; 
  }
  .navBar {
    background-color: #282A2B;
    color: white;
    padding: 10px 0;
  }

  /* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  } */

  nav {
    display: flex;
    align-items: center;
  }
  .links  {
    display: flex;
    gap: 20px;
    
  }
  .links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    transition: color 0.3s ease;
  }
  .links a:hover {
    color: #FC914F; 
  }
  