
.app{
    display: flex;
    padding: 30px;
    justify-content: center;
  
    
   
}
.candyGame{
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid white;
    border-radius: 2%;
}

.candyGame img {
    width: 70px;
    height:70px;
}

.welcome {
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
}
body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #FF731E; 
  border-radius: 6px; 
}

body::-webkit-scrollbar-track {
  background-color: #F62163;
}
