.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.gameTitle {
    margin-left: 3em;
    padding: 10px;
}

.gameBtn {
  background-color: white;
  color: black;
  border-color: black;
  margin-left: 2em;
  margin-bottom: 80px;
}

.gameBtn:hover {
  background-color: #7FA7FE;
  transition: background-color 0.5s ease;
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card2  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card3  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}