@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.flex-container {
    font-family: "Press Start 2P";
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 40px;
}

.gameTitle {
    /* margin-left: 3em; */
    text-align: center;
    padding: 10px;
}

.gameBtn {
    border-radius: 8px !important;
    border: 1px solid transparent !important;
    padding: 0.6em 1.2em !important;
    font-size: 1em !important;
    font-family: inherit;
    cursor: pointer !important;
    transition: border-color 0.25s !important;
    background-color: white !important; /*add a different color and make it centered */
    color: black !important;
    border-color: black !important;
    margin: 10px auto 80px !important;
    align-items: center !important;
}

.gameBtn:hover {
    background-color: #7FA7FE !important;
    transition: background-color 0.5s ease !important;
}

.card1,
.card2,
.card3 {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0em;
}


@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
        /* Center items horizontally when in column layout */
    }

    .gameBtn {
        margin: 10px auto 20px;
        /* Adjust margins for centering */
    }
}