.row {
    margin-bottom: 0;
}

.col {
    padding-bottom: 0;
}

.PP {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
    font-size: 105px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
    margin-bottom: 50px;
    
}

/* responsive behavior for very small screens  */
@media (max-width: 320px) {
    .PP {
        font-size: 24px;
    }
}

/* responsive behavior for small screens  */
@media (min-width: 321px) and (max-width: 575px) {
    .PP {
        font-size: 37px;
    }
}

/* responsive behavior for medium sized screens (tablets)  */
@media (min-width: 576px) and (max-width: 992px) {
    .PP {
        font-size: 65px;
    }
}

/* responsive behavior for small desktops and larger  */
@media (min-width: 993px) and (max-width: 1280px) {
    .PP {
        font-size: 80px;
    }
}