.row {
  margin-bottom: 0;
}

.col {
  padding-bottom: 0;
  padding-left: 100px;
}

.neon {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  font-size: 80px;
  /* color: #299EAE; */
  color: #9DDAE7;
  gap: 0.5em;

  /* position:absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-weight: 600;
  /* letter-spacing: 8px; */
  text-shadow: 1px 0px 4px #FE7AB8, 2px 0px 4px #76429E, 3px 0px 4px #7FA7FE,
    2px 0px 3px #55509A, 2px 3px 15px #FE7AB8, 2px 0px 15px, 5px 0px 125px,
    20px 0vw 200px #55509A, 40px 0vw 200px #7FA7FE;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}


/* responsive behavior for very small screens  */
@media (max-width: 320px) {
  .neon {
    font-size: 24px;
  }
}

/* responsive behavior for small screens  */
@media (min-width: 321px) and (max-width: 575px) {
  .neon {
    font-size: 37px;
  }
}

/* responsive behavior for medium sized screens (tablets)  */
@media (min-width: 576px) and (max-width: 992px) {
  .neon {
    font-size: 65px;
  }
}

/* responsive behavior for small desktops and larger  */
@media (min-width: 993px) {
  .neon {
    font-size: 80px;
  }
}