.square {
    background-color: inherit;
    height: 150px;
    width: 150px;
    padding: 0px;
}

.board {
    justify-content: center;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding-bottom: 100px;
}

.ticTacToeRow {
    display: flex;
    justify-content: center;
}

.boxDecoration {
    background-color: none;
}

.right {
    /* border-style: solid; */
    border-right: 10px solid black;
}

.top {
    border-top: 10px solid black;
}


.status {
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.xAndO {
    height: 150px;
    width: auto;
}