@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.square {
    background-color: inherit;
    height: 150px;
    width: 150px;
    padding: 0px;
}

.board {
    justify-content: center;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.ticTacToeRow {
    display: flex;
    justify-content: center;
}

.boxDecoration {
    background-color: none;
}

.right {
    /* border-style: solid; */
    border-right: 10px solid black;
}

.top {
    border-top: 10px solid black;
}


.status {
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.xAndO {
    height: 150px;
    width: auto;
}

.restart {
    font-family: "Press Start 2P";
    background-color: white;
    color: black;
    border-color: black;
    /* margin-left: 2em; */
    margin-top: 30px;
    margin-bottom: 80px;
    /* width: 160px; */
    height: 50px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
}

.restart:hover {
    background-color: #7FA7FE;
    color: #fff;
    transition: background-color 0.5s ease;
}
.instructions {
  color: white;
  font-size: 20px;
  font-family: 'Electrolize', sans-serif;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  margin-top: 30px;
}
.O{
  color:#FF7AB9
}
.x{
    color: #80E4FC
}